{# Grundgerüst bzw "Basis" der Website. #} 
{# https://docs.djangoproject.com/en/4.1/ref/templates/language/#template-inheritance #}
{# Jede HTML Datei, die base.html über {% extends 'core/base.html %} einbindet, bekommt base.html #} 
{# als "Wrapper" und fügt selbst zwischen die {% block content %}{% endblock %} Blöcke ein. #}

<!DOCTYPE html>
{% load static %}  {# Notwendig, um {% static '' %}-tag benutzen zu können; muss am Anfang jedes HTML-Dokuments mit static Tag stehen. #}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noodle Grounds</title>

  <link rel="stylesheet" href="{% static 'core/css/style.css' %}"> {# Local styles #}
  <script src="{% static 'core/js/jquery-3.6.4.min.js' %}"></script> {# JQuery #}
  <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">  {# Bootstrap #}

</head>
<body>
  
  {% include 'core/header.html' %}
 
  {% block content %}
  {# This is where an individual site's content will be included #}
  {% endblock content %}

  <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>