{% extends 'core/base.html' %}

{% block content %}


{# Error messages #}
{% if has_error_messages %}

  <div class="alert alert-danger" role="alert">
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>

{% endif %}

{# Success message #}
{% if has_success_messages %}

  <div class="alert alert-success" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </div>

{% endif %}


<form action="{% url 'register' %}" method="POST">{% csrf_token %}
  <div>
    <label class="form-label" for="username">Nutzername</label>
    {{ form.username }}
  </div>

  <div>
    <label class="form-label" for="email">E-Mail</label>
    {{ form.email }}
  </div>

  <div>
    <label class="form-label" for="password">Passwort</label>
    {{ form.password }}
  </div>

  <div>
    <label class="form-label" for="password2">Passwort wiederholen</label>
    {{ form.password2 }}
  </div>

  <button class="btn btn-primary" type="submit">Registrieren</button>
</form>

{% if errors %}{{errors}}{% endif %}


{% endblock content %}